<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Paquete</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'paquete/paquete_create.css' %}">
</head>
<body>
    <h1>Crear Nuevo Paquete</h1>
    
    <form method="POST">
        {% csrf_token %}
        
        <label for="id_envio">ID Envío:</label>
        <select id="id_envio" name="id_envio" required>
            {% for envio in Envios %}
                <option value="{{ envio.id_envio }}">{{ envio.estado_envio }}</option>
            {% endfor %}
        </select>
        
        <label for="descripcion_paquete">Descripción del Paquete:</label>
        <input type="text" id="descripcion_paquete" name="descripcion_paquete" required>
        
        <label for="peso">Peso:</label>
        <input type="number" id="peso" name="peso" step="0.01" required>
        
        <label for="dimensiones">Dimensiones:</label>
        <input type="text" id="dimensiones" name="dimensiones" required>
        
        <label for="valor_declarado">Valor Declarado:</label>
        <input type="number" id="valor_declarado" name="valor_declarado" step="0.01" required>
        
        <button type="submit" class="button">Crear Paquete</button>
    </form>
    
    <a href="{% url 'listar_paquetes' %}" class="button">Volver a la Lista</a>
</body>
</html>
