<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Envío</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'envio/envio_update.css' %}">
</head>
<body>
    <h1>Actualizar Envío</h1>

    <form method="POST">
        {% csrf_token %}
        
        <label for="estado">Estado del Envío:</label>
        <select id="estado" name="estado" required>
            {% if envio.estado_envio == "pendiente" %}
                <option value="En tránsito">En tránsito</option>
            {% elif envio.estado_envio == "En tránsito" %}
                <option value="Entregado">Entregado</option>
            {% elif envio.estado_envio == "Entregado" %}
                <option value="Finalizado">Finalizado</option>
            {% else %}
                <option value="{{ envio.estado_envio }}">{{ envio.estado_envio }}</option>
            {% endif %}
        </select>

        <button type="submit">Actualizar Envío</button>
    </form>

    <a href="{% url 'listar_envios' %}">Volver a la Lista</a>
</body>
</html>
