<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Vehículo</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'vehiculo/update.css'%}">
</head>
<body>
    <div class="container">
        <h1>Actualizar Vehículo</h1>
        
        <form method="POST">
            {% csrf_token %}
            <label for="matricula">Matrícula:</label>
            <input type="text" name="matricula" id="matricula" value="{{ vehiculo.matricula_vehiculo }}" required>

            <label for="marca">Marca:</label>
            <input type="text" name="marca" id="marca" value="{{ vehiculo.marca_vehiculo }}" required>

            <label for="modelo">Modelo:</label>
            <input type="text" name="modelo" id="modelo" value="{{ vehiculo.modelo_vehiculo }}" required>

            <button type="submit">Actualizar Vehículo</button>
        </form>

        <a class="back-link" href="{% url 'listar_vehiculos' %}">Volver al listado</a>
    </div>
</body>
</html>
