<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Facturas</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'facturacion/listar.css' %}">
</head>
<body>
    <div class="container">
        <h1>Lista de Facturas</h1>
        <table>
            <thead>
                <tr>
                    <th>Cliente</th>
                </tr>
            </thead>
            <tbody>
                {% for factura in facturas %}
                <tr>
                    <td>{{ factura.id_cliente.nombre }}</td>
                    <td>
                        <a href="{% url 'listar_factura_detalle' %}">Ver Detalles</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'crear_factura' %}">Crear Factura</a>
    </div>
</body>
</html>
